/* Servicios */

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        color: var(--secundario);
    }

    p {
        line-height: 2;
        text-align: center;
    }
}

.iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}