@media (min-width: 768px) {
    .navegacion-principal {
      flex-direction: row;
      justify-content: space-between;
    }
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
  }

  